{% extends "base.html" %} {% block content%}
<header class="masthead text-dark text-center">
  <img
    src="../static/img/kk_1.png"
    alt="Khovayel Khel"
    style="margin-top: auto;"
  />
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5 text-center">About Khovayel Khel</h1>
        <h5 class="mb-5 text-center" align="justify">
          Started by our seniors (Team 5D) as a college project in 2016,
          Khovayel Khel now has become a tradition of GEC, Gandhinagar. To give
          GECians a break from their hectic college life and to bring the real
          <i>GullyBoy</i> out from the students, we- The IT Department Students
          organize Khovayel Khel every year, in which student play their
          favourite childhood games such as Pithu ,Rumal Khech and many more.
          And not only students but our respected Professors and Principal madam
          also takes part in this event and play with their collegues and feel
          nostalgic. <br />
          <br />
          Last 4 Seasons have been very successful and it wouldn't have been
          without your support and enthusiasm. And we are hoping for the same in
          this upcoming 5th season. <br />
          So brace yourselves and come prepared for some lightweight competition
          and for alot of fun memories.
        </h5>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
