{% extends "base.html" %} {% block content%}
<!-- Testimonials -->
<section class="testimonials text-center bg-light" style="padding-bottom: 100px;">
    <div class="container">
        <h2 class="mb-5 pt-5">6<sup>th</sup> Sem IT Department<br>Team Khovayel Khel</h2>
    <div class="row">
    <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src='../static/img/james1.jpg' alt="James Shah">
            <h5>James Shah</h5>
            <p class="font-weight-light mb-0">9725870324</p>
            <p class="font-weight-light mb-0">jamesshah@gecg28.ac.in</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/vedant_1.jpg" alt="Vedant Patel">
            <h5>Vedant Patel</h5>
            <p class="font-weight-light mb-0">9998168312</p>
            <p class="font-weight-light mb-0">vedantpatel@gecg28.ac.in</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/meet.jpg" alt="">
            <h5>Meet Vakani</h5>
            <p class="font-weight-light mb-0">9725163883</p>
            <p class="font-weight-light mb-0">meetvakani@gmail.com</p>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock content%}