<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/vendor/font-awesome/css/font-awesome.min.css"
    />
    <style>
      .botao-wpp {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        background-color: #25d366;
        font-weight: bold;
        padding: 1rem 1rem;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <h4>Hey {{name}},</h4>
    <p>
      Your registration for Khovayel Khel- Season 5 has been confirmed. <br />
      We hope you will have a great time at Khovayel Khel. <br />
      Also, tell your friends to join you and play in team.
    </p>
    <br />
    <a
      href="https://wa.me/?text=Hey%2C+I%27ve+participated+in+the+Khovayel+Khel+Season+5.+Join+me+and+let%27s+play+together.+Register+on%3A+https%3A%2F%2Fkhovayelkhel.herokuapp.com%2F%23participate+"
      data-action="share/whatsapp/share"
      class="botao-wpp"
    >
      <i class="fa fa-whatsapp"> Share via Whatsapp</i>
    </a>
    <h4>Date : 26<sup>th</sup> February, 2020</h4>
    <h4>Venue: Metallurgy Garden, GEC Gandhinagar</h4>
    <h4>Time: 10.30 am onwards</h4>
    <h4>
      Regards, <br />
      <br />
      Team Khovayel Khel. <br />
      IT Department.
    </h4>
  </body>
</html>
