{% extends "base.html" %} 

{% block content%}
<!-- Masthead -->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="100">
      <img src="../static/img/g0.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="100">
      <img src="../static/img/g1.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="100">
      <img src="../static/img/g2.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="100">
      <img src="../static/img/g3.JPG" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3><a href="#" style="color: black">4 Seasons</a></h3>
          <p class="lead mb-0">
            Wouldn't have been<br />such a huge success<br />without your love &
            support
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3><a href="{{url_for('games')}}" style="color: black">Season 5</a></h3>
          <p class="lead mb-0">Take a look at this years Games</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>
            <a href="#participate" style="color: black">26<sup>th</sup> Feb 2020</a>
          </h3>
          <p class="lead mb-0">Metallurgy Garden , GECG</p>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Testimonials -->
<a id="whatpeoplesay"></a>
<h1 align="center" style="padding-top: 8px; margin-top: 5px;">Faculties About Previous Seasons</h1>
<div class="card-deck p-4">
  <div class="card">
    <img src="../static/img/JSD_photo.jpeg" class="card-img-top" style="height: 400px;" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Prof. J.S. Dhobi</h5>
      <p class="card-text">"Had great fun at Khovayel Khel playing my childhood games with my colleagues.It was a Refreshing change from day to day routine. "</p>      
    </div>
  </div>
  <div class="card">
    <img src="../static/img/PRC_photo.jpeg" class="card-img-top" style="height: 400px;" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Prof. P.R Chaudhari </h5>
      <p class="card-text">"Great initiative by Khovayel Khel team. I don't remember playing with such enthusiasm after my school days, but Khovayel Khel brought back that enthusiasm with the fun and little competitive games."</p>      
    </div>
  </div>
  <div class="card">
    <img src="../static/img/UP_photo.jpg" class="card-img-top" style="height: 400px;" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Prof. Ujas Pandya </h5>
      <p class="card-text">"Innovative idea of utilizing free time by playing fun old games with your friends. Motivating, Entertaining and Intriguing Evening well spent with friends is what Khovayel Khel is."</p>      
    </div>
  </div>
</div>

<!-- Call to Action -->
<section class="content-section", id="participate">      
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group w-50" style="position: relative;; top:25% ;left:50%; transform:translateX(-50%)">
      <legend class="border-bottom mb-4 text-center">
        Participate Now!!
      </legend>
      <div class="form-group text-center">
        {{ form.name.label(class="form-control-label")}} {% if form.name.errors
        %} {{ form.name(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.name.errors%}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.name(class="form-control text-center")}} {% endif %}
      </div>
      <div class="form-group text-center">
        {{ form.email.label(class="form-control-label")}} {% if
        form.email.errors %} {{ form.email(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.email.errors%}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control text-center")}} {% endif %}
      </div>
      <div class="form-group text-center ">
        {{ form.mobile.label(class="form-control-label")}} {% if
        form.mobile.errors %} {{ form.mobile(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.mobile.errors%}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.mobile(class="form-control text-center")}} {% endif
        %}
      </div>
      <div class="form-group text-center">
        {{ form.en_num.label(class="form-control-label")}}
        {% if form.en_num.errors %} {{ form.en_num(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.en_num.errors%}
          <span>{{ error }}</span>
          {% endfor %}         
        {% else %} {{ form.en_num(class="form-control text-center", onchange = "form_validate_enroll()")}} {% endif %}
      </div>
      <p class="text-muted">Note: Teams will be formed at registration desk</p>
      <div class="form-group" align="center">
        {{ form.submit(class="btn btn-primary")}}
      </div>
    </fieldset>
  </form>
</section>

{% endblock content%}

{% block script %}
<script>
function form_validate_enroll() {
             var enroll = document.getElementById('s_enroll').value;             
            if (/[^a-zA-Z0-9\-\/]/.test(enroll)) {
                alert("Special Characters are Not Allowed in Enrollment Number!");
                return false;
            }
            if (isNaN(enroll)) {
                alert("Please enter Proper Enrollment number!");
                return false;
            }            
        }

</script>

{% endblock script %}