{% extends "base.html" %}{% block style %}

<style>
  .footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
</style>

{% endblock style %} {% block content %}

<form class="form-control" , action="POST">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input
        type="text"
        class="form-control mb-2"
        id="name"
        placeholder="Participant Name"
        name="name"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">
        Add Participant
      </button>
    </div>
  </div>
</form>

<h3 style="text-align: center;">Participants in Pagathiya</h3>

<table class="table table-responsive-lg">
  <caption>
    Total Participants
  </caption>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Number</th>
    <th>Email</th>
    <th>Enroll No</th>
    <th>Sem</th>
    <th>Branch</th>
  </tr>

  {% for player in data %}
  <tr>
    <td>{{ player.id }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.mobile }}</td>
    <td>{{ player.email }}</td>
    <td>{{ player.en_num }}</td>
    <td>{{ player.sem }}</td>
    <td>{{ player.branch }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
